{% extends "base.html" %}

{% block head_title %}Beta Roadmap{% endblock %}


{% block extra_head %}
{% endblock %}

{% block content %}


<div class="mx-auto w-75 mt-5">
    <h1 class="">Beta Roadmap</h2>
    <ul>
        <li class="pt-2">&#x2705; Basic functionality</li>
        <li class="pt-2">&#x2705; Basic account system</li>
        <li class="pt-2">&#x2705; 2 Demos</li>
        <li class="pt-2"><a href="https://scikit-learn.org/stable/modules/ensemble.html" target="_blank">Advanced decision-tree models</a></li>
        <li class="pt-2">Additional functions more the account system</li>
        <li class="pt-2">Group Accounts / Shareable Models</li>
        <li class="pt-2">History of predictions</li>
        <li class="pt-2">API</li>
        <li class="pt-2">...</li>
    </ul>
</div>

    

{% endblock %}