{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Create Model{% endblock %}


{% block extra_head %}
{% endblock %}


{% block content %}

<h1>Create Model</h1>

{% if data_columns %}
    <form action="" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>Variable</th>
            <th>Type</th>
            <th>Use to predict</th>
            <th>Goal of Prediction</th>
        </tr>
        {% for column, type in data_columns.items %}
        <tr>
            <td>{{ column }}</td>
            <td>
                {{ type }}
            </td>
            <td><input type="checkbox" name="checkbox" value="checkbox-{{ column }}" id="checkbox-{{ column }}"></td>
            <td>
                {% if type == "Choice" %}
                <input type="radio" name="radio" value="radio-{{ column }}" id="radio-{{ column }}">
                {% endif %}
            </td>
        </tr> 
        {% endfor %}
    </table>
    <input type="submit" value="Train model">
    </form>
{% else %}
    <h2>Something went wrong...</h2>
{% endif %}

{% endblock %}