{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Home{% endblock %}


{% block extra_head %}
{% endblock %}


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Upload">
</form>

{% if uploaded_no_training %}
    <a href="{% url 'app:create_model' %}">Create model</a>
{% elif trained %}
    <a href="{% url 'app:model_created' %}">Use trained model</a>
{% endif %}

{% endblock %}