{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Models{% endblock %}


{% block extra_head %}
{% endblock %}


{% block content %}

{% if models %}
    {% for model in models %}
        <p>{{ model.dataset }} - {{ model.created }}</p>
        <a href="{% url 'app:predict' model_id=model.pk %}">Use model for predictions</a>
        <form action="{% url 'app:model_delete' model_id=model.pk%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    {% endfor %}
{% else %}
    <h2>You haven't saved any models yet.</h2>
{% endif %}

{% endblock %}