{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_title %}Create Model{% endblock %}


{% block extra_head %}
{% endblock %}


{% block content %}

{% if request.get_full_path == "/demo-heart" or request.get_full_path == "/demo-churn" %}
    <h1>Demo Prediction for <em>{{ model.goal }}</em></h1>
    <a class="btn btn-outline-dark my-2" type="button" href="{% url 'app:dataset_download' dataset_id=dataset.pk %}">Download Demo Dataset</a>
{% else %}
    <h1>Prediction for <em>{{ model.goal }}</em></h1>
    <p>Model:<br>{{ model.dataset }} - {{ model.created }}</p>
{% endif %}

{% if predictionresult %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 pt-sm-3 pt-md-0 pt-lg-0 pt-xl-0">
                <h2>Result</em></h2>
                <u>{{ model.goal }}</u>: {{ predictionresult }}
            </div>
            <div class="col-md-8 pt-sm-3 pt-md-0 pt-lg-0 pt-xl-0">
                <h2>Input</h2>
                <div class="row d-flex">
                    {% for key, value in input.items %}
                        <div class="col-md-3 mb-2"><u>{{ key }}</u>:<br>{{ value }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        {% for field in predictform %}
            <div class="col-md-3 d-flex flex-column">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
    </div>
    <input class="btn btn-outline-primary mt-2" type="submit" value="{% if predictionresult %} Re-Predict {% else %} Predict {% endif %}">
</form>

{% endblock %}