{% extends "base.html" %}
{% load app_extras %}
{% load crispy_forms_tags %}

{% block head_title %}Training{% endblock %}


{% block extra_head %}
{% endblock %}


{% block content %}

<h1>Training</h1>

<p>Dataset:<br>{{ dataset.name }} - {{ dataset.created }}</p>

{% if new_model %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <h2>Evaluation</h2>
                Training Accuracy: <b>{{ new_model.training_acc|floatformat:2|to_100 }}%</b>
                <br>
                Test Accuracy <b>{{ new_model.test_acc|floatformat:2|to_100 }}%</b>
            </div>
            <div class="col-md-6 pt-sm-3 pt-md-0 pt-lg-0 pt-xl-0">
                <h2>Model Variables</h2>
                <div class="row d-flex">
                    {% for var in new_model.variables %}
                        <div class="col-md-4 mb-2">{{ var }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 pt-sm-3 pt-md-0 pt-lg-0 pt-xl-0">
                <h2>Prediction Goal</h2>
                <p>{{ new_model.goal }}</p>
            </div>
        </div>
        <form action="/save-model" method="POST">
            {% csrf_token %}
            {{ savemodelform|crispy }}
            <input class="btn btn-outline-success mt-4" type="submit" value="Save model">
        </form>
    </div>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        {% for field in trainingform %}
            {% if field.label == "What do you want to predict?" %}
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        <p class="mt-4">Which variabes do you use for the prediction?</p>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-3 d-flex flex-column mb-2 justify-content-between align-items-center">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div> 
            {% endif %}
        {% endfor %}
    </div>
    <input class="btn btn-outline-primary mt-2" type="submit" value="{% if new_model %} Re-Train Model {% else %} Train Model {% endif %}">
</form>
{% endblock %}