{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Training{% endblock %}


{% block extra_head %}
{% endblock %}


{% block content %}

<h1>Training</h1>

<p>{{ dataset.name }} - {{ dataset.created }}</p>

{% if training_acc and test_acc %}
    <p>Training Accuracy: <b>{{ training_acc }}%</b> - Test Accuracy <b>{{ test_acc }}%</b></p>
{% endif %}

{% if training_acc %}
<form action="/save-model" method="POST">
    {% csrf_token %}
    {{ savemodelform|crispy }}
    <input type="submit" value="Save model">
</form>
{% endif %}



    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            {% for field in trainingform %}
                {% if field.label == "What do you want to predict?" %}
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="d-flex flex-column align-items-center">
                            {{ field.errors }} 
                            {{ field.label_tag }} {{ field }}
                            <p class="mt-4">Which variabes do you use for the prediction?</p>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-3 d-flex flex-column align-items-center mb-2">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div> 
                {% endif %}
            {% endfor %}
        </div>
        <input class="btn btn-outline-primary btn-lg mt-4" type="submit" value="Train model">
    </form>


{% endblock %}