{% extends "account/base.html" %}
{% load app_extras %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="mx-auto w-75 w-lg-50 w-xl-50 mt-5">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p|bootstrap_form }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-outline-primary mt-2 w-xs-100 w-sm-100" type="submit">{% trans "Sign Up" %}</button>
  </form>
</div>



{% endblock %}
